* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_content{
  display: flex;
  align-items: center;
  height: 100vh;
}
.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  color: #fff;
}
.banner-texto{
  width: 500px;
}
.banner-texto h3{
  font-size: 50px;
}
.banner-texto h1{
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  color: #93A85E;
  margin-top: 20px;
}
.banner-texto p{
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
