* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background: url("./componentes/img/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.banner_content{
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.banner-texto{
  width: 500px;
}
.banner-texto h3{
  font-size: 50px;
}
.banner-texto h1{
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  color: #3e8c11b5;
  margin-top: 20px;
}
.banner-texto p{
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-texto{
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.navbar-ul{
  width: 60%;
  list-style-type: none;
  display: flex;
  text-align: left;
}
.navbar-ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight:500;
  text-transform: uppercase;
}
.banner-btn{
  margin-top: 45px;
}
.btn{
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-style: 30px;
  padding: 20px 40px;
}
.btn-smart{
  background: rgba(62, 140, 17, 0.968);
}
.sobre{
  padding: 80px 0;
}
.p-25{
  padding: 45px;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33333333;
}
.sobre h3{
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}
.sobre h1{
  font-size: 40px;
  color: #3e8c11b5;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 15px;
}
.sobre p{
  font-size: 18px;
  color: #164c18;
  font-weight: 300;
}
.sobre-btn{
  margin-top: 40px;
}
.sobre-img{
  height: 430px;
  width: 700px;
  overflow: hidden;
}
.sobre-img img{
  width: 100%;
}
.dados{
  width: 100%;
  padding: 80px 0;
  background: url("./componentes/img/banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #164c18;
  background-attachment: fixed;
}
.dado{
  text-align: center;
}
.dado h1{
  font-style: 45px;
}
.dado p{
  font-style: 10px;
  font-weight: 700;
  margin-top: 10px;
}
.prices{
  width: 100%;
  padding: 80px 0;
}
.price{
  padding: 20px;
  text-align: center;
}
.price-img{
  width: 100%;
}
.price-img img{
  width: 250px;
}
.price-head{
  margin-top: 20px;
  font-size: 25px;
}
.price-texto{
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}
.price-rs{
  font-size: 25px;
  margin-top: 15px;
}
.main-footer{
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.container-footer hr{
  margin-bottom: 12px;
}
.col-sm{
  font-weight: 500;
  margin-bottom: 10px;
}